html,
body {
  width: 100%;
  height: 100%;
}

.container {
  height: 100%;
}

article.project {
  position: relative;
  transition: top 0.15s;
}

article.project:hover {
  top: -2px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

dialog > article .close {
  cursor: pointer;
  margin-right: 2px;
}

html[data-theme]:not([data-theme="dark"]) nav {
  border-bottom: 1px solid rgba(211, 211, 211, 0.3) !important;
}

/* Icons */

#githubLink,
#linkedinLink {
  transform: scale(1.05);
}

#githubLink:hover,
#linkedinLink:hover {
  transition: all 0.1s;
  transform: scale(1.1);
  cursor: pointer;
}

html[data-theme]:not([data-theme="dark"]) #githubLink {
  color: #24292f !important;
}

html[data-theme]:not([data-theme="dark"]) #githubLink:hover {
  color: #47515c !important;
}

html[data-theme]:not([data-theme="dark"]) #linkedinLink,
html[data-theme]:not([data-theme="dark"]) #githubLink {
  transform: scale(1.1);
}

html[data-theme]:not([data-theme="dark"]) #linkedinLink:hover,
html[data-theme]:not([data-theme="dark"]) #githubLink:hover {
  transform: scale(1.17);
  cursor: pointer;
}

.mailIcon-container:hover {
  cursor: pointer !important;
}

.mailIcon-container {
  border-bottom: unset !important;
}

.mailIcon-container:hover * {
  opacity: 90%;
}

/* Theme toggler */

#themeToggler {
  position: fixed;
  bottom: 35px;
  right: 25px;
  z-index: 9999;
  background-color: #2f2f2f !important;
  padding: 0.5em 0.6em;
}

#themeToggler:hover {
  transition: all 0.15s;
  transform: scale(1.05);
  cursor: pointer;
}

html[data-theme]:not([data-theme="dark"]) #themeToggler {
  background-color: #d6d6de !important;
}

@media (max-width: 675px) {
  #themeToggler {
    bottom: 17px;
    right: 17px;
  }
}

.mt-2-3rem {
  margin-top: 2.3rem !important;
}

.mb-2-3rem {
  margin-bottom: 3rem !important;
}

.text-light-blue {
  color: #3b7f99;
}

.text-hover-light-blue:hover {
  color: #3b7f99 !important;
}

.text-light-green {
  color: #54b689;
}

.link-without-formatting {
  text-decoration: unset;
}

.skillLevel {
  display: block;
  max-width: 275px;
}

.grid > div {
  border: unset !important;
}

.cursor-hover-pointer {
  cursor: pointer;
}

.category .category-title {
  padding-left: 12.5px !important;
  line-height: 30px;
  margin-bottom: 2.2em;
  box-shadow: -5px 0 0 0 #2f2f2f;
  font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu",
    "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700 !important;
}

.aboutText {
  font-weight: 370;
}

.technologyTitle {
  padding-left: 15px !important;
  margin-left: 14px !important;
  line-height: 36px;

  box-shadow: -5px 0 0 0 #272e37;
}
