section > div > div > div > a {
    text-decoration: none;
}


.aside {
    position: absolute;
    right: 100px;
    display: none;
}

@media (min-width: 992px) {
    .aside {
        position: absolute;
        right: 30px;
        display: block;
    }
}

@media (min-width: 1200px) {
    .aside {
        position: absolute;
        right: 100px;
    }
}

