@keyframes showCard {

  from {

    opacity: 0;

  }
  
  to {

    opacity: 1;
    
  }

}

body {
  background-color: #152B3C;
}

.sidebar {
  color: #fff;
}

.sidebar .nav-link,
.btn-custom {
  background-color: #1A3550; /* Altere para a cor desejada */
  color: #fff;
  border-color: #1A3550; /* Altere para a cor desejada */
}

.sidebar .nav-link:hover,
.btn-custom:hover {
  transition: 0.5s;
  background-color: #295074;
  border-color: #295074;
}

.content {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-form input {
  background-color: #fff;
  color: #000;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.downloadMp3:hover {
  background-color: #e3a952 !important;
  transition: 0.3s;
}

.downloadMp4:hover {
  background-color: #297ba6 !important;
  transition: 0.3s;
}

button.configBtn:hover {
  background-color: #15685e !important;
  color: white;
  transition: 0.4s;
}

.card {
  animation: showCard 1s ease-in-out;
}

.offcanvas {
  position: fixed;
  left: -200px; /* Define a largura do offcanvas */
  top: 0;
  width: 375px; /* Define a largura do offcanvas */
  height: 100vh;
  background-color: #152B3C;
  color: white;
  border-right: 1px solid rgba(109, 169, 216, 0.8);
  transition: left 0.3s ease;
}

.offcanvas ul {
  list-style-type: none;
  padding: 0;
}

.offcanvas ul li {
  margin-bottom: 10px;
}

.offcanvas.show {
  left: 0;
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-close::before,
.btn-close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 2px;
  background-color: white;
}

.btn-close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.btn-close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hr-color {
  border-color: #4B0082 !important;
}
